doctype html
html
  head
    link(rel='stylesheet', href='tether/tether.min.css')
    link(rel='stylesheet', href='bootstrap/bootstrap.min.css')
    title Jobs Post
  body
    div.my-5
      h1.text-center RedditJobs
      p.text-center A curated list of freelance jobs
    div.container
      each job in jobs
        p
          a(href=job.url)
            strong= job.title
          br
          small= job.source
        hr

    script(src='tether/tether.min.js')
    script(src='jquery/jquery-3.2.1.min.js')
    script(src='bootstrap/bootstrap.min.js')

    script(src='js/script.js')
